<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form id="signup" name="signup" method="post" action="/signup">
        <input class="text" name="email" placeholder="email" type="email">
        <input class="text" name="firstname" placeholder="firstname" type="text">
        <input class="text" name="lastname" placeholder="lastname" type="text">
        <input class="text" name="password" placeholder="password" type="password">
        <input class="btn" type="submit" value="Sing up">
    </form>
</body>
</html>