
body {
    background: #eee6cd;
}

form {
    background: rgb(233, 228, 198);
    width: 300px;
    margin: auto;
    padding: 30px 50px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.text {
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
}

.btn {
    background: #1cd1c2;
    width: 100%;
    border: none;
    color: #fff;
    padding: 10px;
}